.container{
    margin:0 auto;
    display: flex;
    flex-direction: column;
    max-width:300px ;
    border-radius:10px;
}
*{
    margin: 5px;
    padding: 5px;
    box-sizing: border-box;
}
body{
    background-image: url("https://steamuserimages-a.akamaihd.net/ugc/1004808250869569311/0BBF5155BAA4CF943C683701E86178CA3E25A84E/?imw=5000&imh=5000&ima=fit&impolicy=Letterbox&imcolor=%23000000&letterbox=false.gif");
     background-size: cover;
}
.inicio{
    height: 150px;
    background-color: black;
}


