*{
    margin: 0px; 
    padding: 0px;
    box-sizing: border-box;
}
@font-face {
    font-family: myFirstFont;
    src: url("fonti.ttf") format('truetype');
 }
  
.ffh1{
    font-family: myFirstFont;
    color: rgb(158, 21, 192);
    text-shadow: 3px 3px #ec22d8;
    font-size: 70px;
    text-align: center;
    margin-top: -12px;
}
.ffh1-2{
    font-family: myFirstFont;
    color: rgb(158, 21, 192);
    text-shadow: 3px 3px #ec22d8;
    font-size: 70px;
    text-align: center;
    margin-top: -50px;
}
.container{
    margin:0 auto;
    display: flex;
    flex-direction: column;
    border-radius:10px;
}
body{
    background-image: url("https://steamuserimages-a.akamaihd.net/ugc/1004808250869569311/0BBF5155BAA4CF943C683701E86178CA3E25A84E/?imw=5000&imh=5000&ima=fit&impolicy=Letterbox&imcolor=%23000000&letterbox=false.gif");
     background-size: cover;
}
.inicio{
    height: 170px;
    background-color: black;
    margin: -10px;
    box-sizing: 0px;
    width: 100%;
    padding:0px;
}
.botoes_esquerdo{
    padding-left: 146px;
}
.branco{
    background-color: rgba(255, 255, 255, 0.463);
    border-radius: 20px;
}
.corzinha{
    background-color: black;
    border: 0px;
    font-size: 20px;
}
footer {
    background-color: black;
    color: white;
    /* text-align: center; */
    padding: 10px;
    text-align: center;
   }

   h5{
    text-align: center;
   }



